$bluebell: #979fd0

.loading
    display: flex
    align-items: center
    justify-content: center
    height: 100%

    span
        font-size: 20px
        margin-left: 10px
        color: $bluebell

@keyframes spin
    to
        transform: rotate(360deg)
