.login
    background: #222222
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    .login-box
        width: max-content
        background: #141414
        padding: 50px
        border-radius: 20px

        img
            padding-top: 15px
            padding-bottom: 20px

        form
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            input, button
                width: 300px
                border-radius: 5px
                border: none

            .password-field
                margin-top: 20px

            input
                padding: 10px

                &:focus-visible
                    outline: none

            button
                border-radius: 8px
                padding: 8px 45px
                margin: 30px 0
                background: #71BE58
                color: #F8FCF7
                font-size: 14px
                cursor: pointer
                display: grid
                place-items: center
                border: 1px solid #71BE58
                float: none
                padding: 8px 45px

        a
            font-size: 13px
            color: #999898
            
.error
    display: none

.error-active
    display: block
    color: #f44336
    margin-top: 2px
    font-size: 12px
    text-align: center

@media all and (max-width:500px)
    .login .login-box img
        width: 99%

@media all and (max-width:340px)
    .login .login-box form
        input, button
            width: 250px

@media all and (max-width:270px)
    .login .login-box form
        input, button
            width: 200px
